{% extends "base.html" %}
{% block title %}Tayara - Automated Poster{%endblock%}
{% block main %}  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- columns -->
        <div class="col-lg-12">
          <div class="row">

            <!-- Les annonces -->
            <div class="col-12">
              <div class="card top-selling overflow-auto">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body pb-0">
                  <h5 class="card-title">Les annonces <span>| Tous</span></h5>

                  <table class="table table-borderless">
                    <thead>
                      <tr>
                        <!--<th scope="col">Image</th>-->
                        <th scope="col">Annonce</th>
                        <th scope="col">Nombre de postés</th>
                        <th scope="col">Nombre de supprimé</th>
                        <th scope="col">Dernier Tayara Lien</th>
                        <th scope="col">Post</th>
                        <th scope="col">Delete</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for Annonce in Annonces %}
                      <tr>
                        <!--
                        <th scope="row">
                            {% for image in Annonce.images.all%}
                            {% if forloop.first %} 
                            <a href="#">
                              <img src="{{image.image.url}}.png" srcset="{{image.image.url}}.png"  alt="{{image}}" />
                            </a>
                            {%endif%}
                            {%endfor%}
                        </th>
                        -->
                        <td><a href="#" class="text-primary fw-bold">{{Annonce.titre}}</a></td>
                        <td class="fw-bold">10</td>
                        <td class="fw-bold">9</td>
                        <td>Voir on tayara</td>
                        <td>
                          <a href="{% url 'createAnnonce' Annonce.id %}">
                            Creé nouveau
                          </a>
                        <td>
                          <a href="{% url 'deleteAnnonce' Annonce.last_created_token %}">
                            Supprimer
                          </a>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>

                </div>

              </div>
            </div><!-- End Top Selling -->

          </div>
        </div>
        <!-- End columns -->

      </div>
    </section>

  </main><!-- End #main -->
{%endblock%}